body {
    background:rgb(245, 242, 242) ;
}
#cabecalho {
    background: #F2C12E;
    height: 150px;
    text-align: center;
    font-weight: 550;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
span {
    color: #FFF;
}
a:link, a:visited {
    text-decoration-line: none;
    color: #FFF;
    margin: 10px;
    padding: 5px 10px;
}
a:hover {
    background-color: #FFF ;
    color: #F2C12E;
}
h2 {
    color: #F2C12E;
    font-size: 900;
}
.texto {
    font-size: 900;
    color: rgb(99, 98, 98);
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.areadireita {
    width: 900px;
    margin: 10px 200px;
    background: #FFF;
    float: left;

}
.imagem {
    margin-left: 20px;
}
.areaesquerda {
    background: #FFF;
    color: rgb(39, 38, 38);
    float: right;
    width: 250px;
    position: relative;
    right: 400px;
    margin: 10px 10px;
}
.destaque {
    background-color: rgb(216, 210, 210);
    color: rgb(90, 89, 89);  
    display: inline;
}
.a2 {
    color: #F2C12E;
}
.rodape {
    border: 1px red solid;
    position: absolute;
    bottom: 0px;
    background: rgb(90, 89, 89) ;
    text-align: center;
}